header {font-family: Times, serif; text-align:right;}
h1{font-size: 16px;}
h3{font-family:Bad Script, cursive;text-decoration:underline; text-indent:20px;}
article{font-family:Bad Script, cursive; text-indent:20px;}
footer{font-family: Times, serif; text-align:left;}